.home-container {
    max-width: 960px;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px 10px;
}

.card-post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 80px;
    padding: 10px 10px;
    background: #fff;
}

.card-post:nth-child(even) {
    background: #eee;
  }

.content h4 {
    margin: 0;
    font-size: 18px;
    color: #000;
}

.content p {
    margin: 0;
}